MySQL username:root 
MySQL password:{{mariadb_password}}

---For Erpnext Installation Wizard--

hostname: localhost
database name:{{erpnext_dbuser.stdout}}
database username:{{erpnext_dbuser.stdout}}
database password:{{erpnext_dbpass.stdout}}
