MySQL username:root 
MySQL password:{{mariadb_password}}

{% if app_db != None %}
---For {{ app_db | title  }} Installation Wizard--

hostname:{{app_db_host}}
database name:{{app_db}}
database username:{{app_db_user}}
database password:{{app_db_password}}

{% endif %}
