[Unit]
Description=erpnext
After=network.target mysql.service redis.service
[Service]
Type=simple
User=frappe
Group=frappe
WorkingDirectory=/home/frappe/frappe-bench
ExecStart=/usr/local/bin/bench start
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target