[Unit]
Description=Erpnext Service

[Service]
Type=simple
User=erpnext
Group=erpnext
ExecStart=/bin/bash -c 'source /opt/nvm/nvm.sh;/usr/local/bin/bench start'
WorkingDirectory=/data/wwwroot/frappe-bench

[Install]
WantedBy=multi-user.target
